# Ignore build directory containing build outputs and workspaces
build/
straylight/target/
straylight/Cargo.lock
notes.md
sandbox/

# Ignore cloned sub-repositories
.github/
bootstrap/
packages/
straylight/
docs/

