# Ignore build directory containing build outputs and workspaces
build/
straylight/target/
.straylight/
straylight/Cargo.lock
notes.md

# Ignore cloned sub-repositories
.github/
bootstrap/
packages/
straylight/
docs/

